<div class="container">
  <div class="page-title">
    <h1><%= link_to "<", root_path, style: "text-decoration: none; color: inherit;" %>    Locals in this area</h1>
  </div>
  <div class="local-index">
    <% @locals.each do |local| %>
      <% unless local.user_id == current_user.id %>
        <%= link_to local_path(local), style: "text-decoration: none; color: inherit;" do %>
          <div class="card-product">
            <div class="info">
              <% if local.photo.attached? %>
                <%= cl_image_tag local.photo.key  %>
              <% else %>
                <img src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png" alt="local_img" style="border-radius: 10px">
              <% end %>
              <div class="card-product-infos">
                <p><b class="bold">Name: </b><%= local.name %></p>
                <p><b class="bold">City: </b><%= local.city %></p>
                <p><b class="bold">Lang: </b><%= local.languages %></p>
                <p><b class="bold">Categories: </b><%= local.categories %></p>
              </div>
            </div>
            <div class="rating">
              <%= "%.1f" % local.average_rating %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
