<div>
  <div class="profile-header">
    <h1 class="text-header">
      <%= link_to "<    ", locals_path, class:"back-button" %><%= @local.first_name %>'s Profile
    </h1>
  </div>

  <div class="local-profile-card">

    <% if @local.photo.attached? %>
      <%= cl_image_tag @local.photo.key  %>
    <% else %>
      <img src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png" alt="local_img" style="border-radius: 10px">
    <% end %>

    <div class="text-local-card">
      <p><b>Name:</b> <%= @local.name %></p>
      <p><b>Age: </b> <%= @local.age %></p>
      <p><b>Languages:</b> <%= @local.languages %></p>
      <p><b>Categories:</b> <%= @local.categories %></p>
      <p><b>Description:</b> <%= @local.description %></p>
    </div>

    <p class=""><%= link_to "Reviews", "#", class:"review-button" %></p>
  </div>
  <div class="mt-3">
    <p><%= link_to"See availability", "#", class: "availability-button", id:"availability-orange"%></p>
  </div>
</div>
