<div class="container-local">
  <div class="text-header">
   <h1><b><%= link_to "<    ", locals_path, class:"back-button" %></b><%= @local.first_name%> <%= @local.last_name %>'s Profile</h1>
  </div>
  <div class="local-profile-card">
    <%# <--Local card 1 %>
    <div class="img-rating">
      <% if @local.photo.attached? %>
        <%= cl_image_tag @local.photo.key %>
      <% else %>
        <img src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png" alt="local_img" style="border-radius: 10px">
      <% end %>
      <%# <--- Stars div %>
      <div class="rating-stars">
        Rating:
        <h6><span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span></h6>
      </div>
    </div>
    <%# <--Local card 2 %>
    <div class="text-local-card">
      <p> <b class="accent">Age:&nbsp; </b> <%= @local.age %>
      <br><b class="accent"> Categories: &nbsp;</b><%= @local.categories %></p>
    </div>
  </div>
   <%# <--Local card 3 %>
  <div class="local-profile-card">
    <div class="text-local-card">
      <p> <b class="accent">Speciality in <%= @local.city %></b>:
      <br><p> <%= @local.description %></p>
    </div>
  </div>
    <%# <p class=""><%= link_to "Reviews", "#", class:"review-button", id:"reviews-border" %>
  <div class="local-profile-card">
    <div class="text-local-card">
      <p><b class="accent">Languages</b></p>
      <p><%= @local.first_name %> can speak with you in:<b> <%= @local.languages %></b>.</p>
    </div>
  </div>
  <%# #Availability button: %>
  <p><%= link_to"Book!", new_local_booking_path(@local), class: "availability-localshow-btn"%></p>
</div>

<%# <%= link_to "Login", new_user_session_path, class:"login"%#%>
