
<h1 class="text-header">
  <%= @local.name %>'s Profile
</h1>

<div class="local-profile-card">

  <img src="https://cdn.dribbble.com/users/5534/screenshots/14230133/profile_4x.jpg" alt="Bruno's image">

  <div class="text-local-card">
    <p><b>Categories:</b> <%= @local.categories %></p>
    <p><b>Age: </b> <%= @local.age %></p>
    <p><b>Introduction:</b> <%= @local.description %></p>
  </div>

  <p class=""><%= link_to "Reviews", "#", class:"review-button" %></p>
  <p><%= link_to "Book now", new_local_booking_path(@local), class: "availability-button", id:"availability-orange"%></p>
</div>
