<div class="container-local">
  <div class="text-header">
   <h1><b><%= link_to "<    ", locals_path, class:"back-button" %></b><%= @local.first_name%>'s Profile</h1>
  </div>
  <!--Local card 1 -->
  <div class="local-profile-card">
    <div class="img-rating">
      <% if @local.photo.attached? %>
        <%= cl_image_tag @local.photo.key %>
      <% else %>
        <img src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png" alt="local_img" style="border-radius: 10px">
      <% end %>
      <!--- Stars div-->
      <div class="rating-stars">
        Rating:
        <h6>
        <% rounded_rating = @average_rating.round %>
        <% rounded_rating.times do %>
          <span class="fa fa-star checked"></span>
        <% end %>
        <% (5 - rounded_rating).times do %>
          <span class="fa fa-star"></span>
        <% end %>
        <span>(<%= "%.1f" % @average_rating %>)</span>
        </h6>
      </div>
    </div>
      <div class="text-local-card">
      <p> <b class="accent">Age:&nbsp; </b> <%= @local.age %>
      <br><b class="accent"> Categories: &nbsp;</b><%= @local.categories %></p>
    </div>
  </div>

  <!-- #book button: -->
  <% if current_user.id == @local.user.id %>
    <p class="book-button">"You cannot book yourself!!"</p>
  <% else %>
    <p><%= link_to"Book Now", new_local_booking_path(@local), class: "book-button"%></p>
  <% end %>
  <!--Local card 2 -->
  <div class="local-profile-card">
    <div class="text-local-card">
      <p> <b class="accent">Speciality in <%= @local.city %></b>
      <br><p> <%= @local.description %></p>
    </div>
  </div>
 <!-- Local card 3 -->
  <div class="local-profile-card">
    <div class="text-local-card">
      <p><b class="accent">Languages</b></p>
      <p><%= @local.first_name %> can speak with you in:<b> <%= @local.languages %></b>.</p>
    </div>
  </div>
  <!--Reviews card -->
  <div class="local-profile-card">
    <div class="text-local-card">
      <p><b class="accent">Reviews</b></p>
    </div>
    <% @local_reviews.each do |review| %>
      <%# pale line between cards %>
      <div class="paleline"></div>
      <div class="review-profile-card">
        <div class="text-local-card">
          <div class="review-title"><p><b><i>"<%=review.title%>"</i></b></div>
          <div class="review-comment"><p><%= review.comment %></p></div>
        </div>
        <div class="rating-user-container">
          <div class="user-rating"><p><b>Rating: <%=review.rating %></b></p></div>
          <div><p>(<%= review.user.first_name %>)</p></div>
        </div>
      </div>
    <%end %>
  </div>

  <!-- #Add Review button: -->
  <% if current_user.id == @local.user.id %>
    <p class="review-btn">"You cannot review yourself!!"</p>
  <% else %>
    <p class=""><%= link_to "Review #{@local.first_name}", new_local_review_path(@local), class:"review-btn", id:"reviews-border" %>
  <% end %>
</div>
