<div class="container">
  <div class="text-header">
   <h1><%= link_to "<    ", locals_path, class:"back-button" %><%= @local.first_name %>'s Profile</h1>
   <h2><%= link_to "Login", new_user_session_path, class:"login"%> </h2>
  </div>


  <div class="local-profile-card">
    <div class="img-rating">
      <% if @local.photo.attached? %>
        <%= cl_image_tag @local.photo.key %>
      <% else %>
        <img src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png" alt="local_img" style="border-radius: 10px">
      <% end %>
      <div class="rating-stars">
        Rating:
        <h6><span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span></h6>
      </div>
    </div>

    <div class="text-local-card">
      <p> <b class="bold">Categories: </b> <%= @local.categories %></p>
      <p> <b class="bold">Age: </b> <%= @local.age %></p>
      <p> <b class="bold">Introduction: </b> <%= @local.description %></p>
      <p> All our locals are specialized in what they do. They are willing to provide you the most valuable experience in this town!.</p>
    </div>

    <p class=""><%= link_to "Reviews", "#", class:"review-button", id:"reviews-border" %></p>

  </div>
  <p><%= link_to"Book this local", new_local_booking_path(@local), class: "availability-button", id:"availability-orange"%></p>
</div>
