<div class="container">
  <%= simple_form_for @booking do |f| %>
    <div class="grande-div">
      <%= f.input :date %>
      <%= f.input :message, class: "date" %>
      <%= f.input :capacity, class: "date" %>
      <div class="submity">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
</div>
</div>
