<div class="booking-card">
  <div class="avatar-round">
    <% if booking.local.photo.attached? %>
      <%= cl_image_tag booking.local.photo.key %>
    <% else %>
      <img src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png" alt="local_img" style="border-radius: 10px">
    <% end %>
  </div>
  <div class="text-local-card">
    <p class="text-center"><b> <%= booking.local.first_name %>&nbsp; <%=booking.local.last_name %></b></p>
    <p>Date: <b><%= booking.date %></b>&nbsp; in <%= booking.local.city %></p>
    <p>Message:&nbsp;<%= booking.message %></p>
  </div>
  <p>Capacity: <%= booking.capacity %> people</p>
  <div class="booking-edit">
    <%= link_to "Delete", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-blue" %>
    <%= link_to "Edit", edit_booking_path(booking), class: "btn btn-blue" %>
  </div>
</div>
