<h2 class="categories_title">Categories</h2>

<div class="card-grid">
  <div class="card-trip">
    <img src="https://livepkassets.pechakucha.com/slides/c0c4df7a-f25c-4155-a25d-9cc5c9ae4d87/pk.jpg">
    <p class="categories_card_title">History Buffs</p>
    <p>For those who love old tales, hidden ruins, and the stories behind every corner.</p>
    <%= link_to locals_path(categories: 'History'), style: "text-decoration: none;" do %>
      <h6>Explore now</h6>
    <% end %>
  </div>

  <div class="card-trip">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIKBOhv9lJuiXm1XYqmooShgPZxaCwb6BeFg&s">
    <p class="categories_card_title">Foodie Fanatics</p>
    <p>Taste your way through the city’s best bites with locals who know the must-eats!</p>
    <%= link_to locals_path(categories: 'Foodies'), style: "text-decoration: none;" do %>
      <h6>Explore now</h6>
    <% end %>
  </div>

  <div class="card-trip">
    <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/65/78ce0081ad11e681d7bb31b0a632ef/starry-night.jpg">
    <p class="categories_card_title">Art Aficionados</p>
    <p>Discover street murals, galleries, and art scenes with guides who live for creativity.</p>
    <%= link_to locals_path(categories: 'Art'), style: "text-decoration: none;" do %>
      <h6>Explore now</h6>
    <% end %>
  </div>

  <div class="card-trip">
    <img src="https://speeddating-xxl.de/gay/blog/wp-content/uploads/2022/10/anthony-delanoix-hzgs56Ze49s-unsplash-1600x1067.jpg">
    <p class="categories_card_title">Night Owls</p>
    <p>Dive into the nightlife with party-loving locals who know the hottest spots.</p>
    <%= link_to locals_path(categories: 'Nightlife'), style: "text-decoration: none;" do %>
      <h6>Explore now</h6>
    <% end %>
  </div>

  <div class="card-trip">
    <img src="https://www.pendaphototours.com/wp-content/uploads/2018/01/history-of-travel-photo-main.jpg">
    <p class="categories_card_title">Street Smart Photographers</p>
    <p>Snap the city’s best views and angles with guides who know every photogenic spot.</p>
    <%= link_to locals_path(categories: 'Photography'), style: "text-decoration: none;" do %>
      <h6>Explore now</h6>
    <% end %>
  </div>

  <div class="card-trip">
    <img src="https://www.hennestrandcamping.de/media/13kecsql/kropsmassage-2.jpg">
    <p class="categories_card_title">Wellness Wanderers</p>
    <p>Relax and recharge with locals who know the best spots for yoga, nature walks, and more.</p>
    <%= link_to locals_path(categories: 'Wellness'), style: "text-decoration: none;" do %>
      <h6>Explore now</h6>
    <% end %>
  </div>

  <div class="card-trip">
    <img src="https://media.istockphoto.com/id/1419410282/photo/silent-forest-in-spring-with-beautiful-bright-sun-rays.webp?b=1&s=612x612&w=0&k=20&c=C318sxgBBIO66E7vi_0Eu3lXHm9uRDauKvRgeyxY2O4=">
    <p class="categories_card_title">Nature Seekers</p>
    <p>Escape the city vibes and find green spots, hidden parks, and scenic views.</p>
    <%= link_to locals_path(categories: 'Nature'), style: "text-decoration: none;" do %>
      <h6>Explore now</h6>
    <% end %>
  </div>

  <div class="card-trip">
    <img src="https://i.pinimg.com/originals/59/5b/f1/595bf127f0c7514fd82528c391aa7729.jpg">
    <p class="categories_card_title">Mystery Hunters</p>
    <p>Discover legends, spooky sites, and strange local tales with those who know the eerie.</p>
    <%= link_to locals_path(categories: 'Mystery'), style: "text-decoration: none;" do %>
      <h6>Explore now</h6>
    <% end %>
  </div>

  <div class="card-trip">
    <img src="https://images.alphacoders.com/135/1358310.png">
    <p class="categories_card_title">Tech Enthusiasts</p>
    <p>Explore cutting-edge innovations, startup hubs, and tech landmarks with local geeks in the know.</p>
    <%= link_to locals_path(categories: 'Tech'), style: "text-decoration: none;" do %>
      <h6>Explore now</h6>
    <% end %>
  </div>

  <div class="card-trip">
    <img src="https://en.reformsports.com/oxegrebi/2023/07/Differences-Between-Stadium-and-Arena.jpg">
    <p class="categories_card_title">Sports Fans</p>
    <p>Explore stadiums, sports bars, and local fan spots with guides who live for the game.</p>
    <%= link_to locals_path(categories: 'Sports'), style: "text-decoration: none;" do %>
      <h6>Explore now</h6>
    <% end %>
  </div>

</div>
