<div class="big-div">
  <div class="search-realignment-div">
    <div class="page-name-login">
      <h1 class="page-name">Search</h1>
    </div>
    <div class="city-age-search-div">
      <%= form_with url:  locals_path, method: :get do %>
        <div class="all-in-one">
             <div class="taggy"><%= label_tag 'City' %></div>
        <div>
          <%= text_field_tag :city,
              params[:city],
              class: "city_",
              palceholder: "Type City Name Here"
          %>
        </div>
        <div class="center-andor">
          <div id="andor">AND/OR</div>
        </div>
        <div class="taggy"><%= label_tag 'Categories' %></div>
          <div>
            <%= select_tag :categories,
                options_for_select(CATEGORIESDROP, params[:categories]),
                class: "categories_",
                palceholder: "Type the category you would like"
            %>
          </div>
        <div class="submit-outside">
        </div>
          <%= submit_tag "Search", name: "", class: "city-search-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
