<div class="big-div">
  <div class="search-realignment-div">
    <div class="page-name-login">
      <h1 class="page-name">Search</h1>
    </div>
    <div class="city-age-search-div">
      <%= form_with url:  locals_path, method: :get do %>
        <div class="tag"><%= label_tag 'City' %></div>
        <div>
          <%= text_field_tag :city,
              params[:city],
              class: "city_",
              palceholder: "Type City Name Here", class: "city-feild"
          %>
        </div>
        <div class="andor">AND/OR</div>
        <div class="tag"><%= label_tag 'Categories' %></div>
          <div>
            <%= text_field_tag :categories,
                params[:categories],
                class: "categories_",
                palceholder: "Type the category you would like", class: "categories-feild"
            %>
          </div>
        <div class="submit-outside">
          <%= submit_tag "Search", name: "", class: "city-search-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
