<div class="container">
  <%= simple_form_for @review do |f| %>
    <div class="grande-div">
      <%= f.input :title, class: "date" %>
      <%= f.input :comment, class: "date" %>
      <%= f.input :rating %>

      <div class="submity">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
</div>
