  <%= simple_form_for [@local, @review] do |f| %>
    <div class="reviews-div">
      <%= f.input :title %>
      <%= f.input :comment %>
      <%= f.input :rating %>
      <div class="submity">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
