<!DOCTYPE html>
<html>
  <head>
    <title>LocalLens</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body class="body-color">
    <%# bootstrap navbar %>
  <nav class="navbar">
    <img class="profile-pic" src="https://www.perfocal.com/blog/content/images/size/w960/2021/01/Perfocal_17-11-2019_TYWFAQ_100_standard-3.jpg" alt="Profile Pic">
    <p class="main-local-lens">Local Lens</p>
    <p class="burger"><%= image_tag("burger-menu-svgrepo-com.svg", size: "50x50", alt: "Burger Menu") %></p>
    <div class="body-style">
      <%= yield %>
    </div>
  </body>
</html>
